// Colours
$dark-grey: #43464C;
$mid-grey: #9197A6;
$light-grey: #D3DCF2;
$mid-blue: #9BABCF;
$dark-blue: #48577D;

// Fonts
$heading-font: 'Poppins', sans-serif;;
$body-font: 'Archivo', sans-serif;

body {
  background-color: $light-grey;
  color: $dark-grey;
  font-family: $body-font;
}

h2 {
  font-family: $heading-font;
}

.intro-text {
  font-size: 0.9em;
  margin: 40px 5px 5px 5px;
}

.button {
  background-color: $mid-blue;
  color: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 3px;
}

.action-button {
  @extend .button;
  padding: 5px;
  text-decoration: none;
  font-size: 0.8em;
  margin: 5px;
}

.data-table {
  margin: 5px;

  th, td {
    border: 1px solid $mid-blue;
    padding: 5px;
  }
}

.form {
  padding: 5px;

  .form-field {
    padding: 5px;
    border: 1px solid $mid-blue;
    width: 100%;
    margin-bottom: 10px;
  }

}

.data-form {
  @extend .form;
  margin: 5px 10px 10px 5px;

  input[type=file] {
    border: 1px solid $mid-blue;
  }
}

.new_plug, .edit_plug {
  @extend .form;

  width: 400px;
}

.info-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  color: $dark-blue;
  width: 100%;
  height: 100%;
  z-index: 10;

  p {
    background-color: $mid-blue;
    padding: 20px;
    text-align: center;
  }
}
